/* font-family: 'Bitter', serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif; */

body {
    font-family: 'Montserrat', sans-serif;
    background: #FEFBF8;
    font-family: 'Inter', sans-serif;
}

.hidden {
    visibility: hidden;
    opacity: 0;
}

.showing {
    visibility: visible;
    opacity: 1;
}

#overlay {
    position: absolute;
    background-color: rgba(0,0,0,0.5);
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    transition-property: opacity, visibility;
    transition-duration: 1s;
    transition-timing-function: ease;
}

#overlay article {
    box-sizing: border-box;
    background-color: white;
    border-radius: 20px;
    padding: 65px;
    padding-top: 25px;
    width: 60vw;
    height: 80vh;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 26px;
    text-align: center;
    font-size: 19px;
}

#overlay article img {
    margin-bottom: -17px;
    padding-top: 5px;
}

.close {
    text-align: center;
    position: absolute;
    top: 620px;
    right: 50px;
    background: rgba(203, 146, 146, 0.961);
    border: 0px solid;
    padding: 14px;
    border-radius: 10px;
    width: 100px;
    color: white;
    font-weight: 600;
    font-size: 19px;
}

.close:hover {
    background: rgba(173, 123, 123, 0.961);
}

#roll {
    text-align: center;
    position: absolute;
    top: 620px;
    right: 50px;
    background: #e45892;
    border: 0px solid;
    padding: 14px;
    border-radius: 10px;
    width: 180px;
    color: white;
    font-weight: 600;
    font-size: x-large;
}

.open {
    color: rgba(150, 96, 96, 0.961);
    font-weight: 600;
    font-size: x-large;
}