body {
    background: #FEFBF8;
    font-family: 'Paytone One', sans-serif;
    font-weight: 400;
    color: rgba(132, 79, 79, 0.961);
    margin: auto;
}

main {
    background: #F5E8E8;
    margin: auto;
    height: 70vh;
    width: 80vw;
    box-sizing: border-box;
    border-radius: 20px;
    padding: 60px;
}

button {
    box-sizing: border-box;
    padding: 12px;
    border-radius: 10px;
    text-align: center;
    border: 0px solid;
    font-family: 'Poppins', sans-serif;
}

#gamehas {
    position: absolute;
    left: 270px;
    top: 215px;
    font-size: 33px;
}

#h21 {
    position: absolute;
    left: 340px;
    top: 215px;
    font-size: 33px;
}

/* header */
header {
    text-align: center;
    margin-bottom: 30px;
}

header h1 {
    text-align: center;
    font-weight: 500;
    font-size: xxx-large;
    font-family: 'Rubik Iso', cursive;
}

.open { /* how to play */
    color: rgba(150, 96, 96, 0.961);
    font-weight: 500;
    font-size: large;
}

.open:hover {
    font-size: x-large;
    transition: 1s ease;
    color: rgba(203, 119, 119, 0.961);
}

/* overlay how to play */
.hidden {
    visibility: hidden;
    opacity: 0;
}

.showing {
    visibility: visible;
    opacity: 1;
}

#overlay {
    position: absolute;
    background-color: rgba(0,0,0,0.5);
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    transition-property: opacity, visibility;
    transition-duration: 1s;
    transition-timing-function: ease;
}

#overlay article {
    box-sizing: border-box;
    background-color: white;
    border-radius: 20px;
    padding: 65px;
    padding-top: 25px;
    width: 60vw;
    height: 80vh;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 26px;
    text-align: center;
    font-size: 19px;
}

#overlay article img {
    margin-bottom: -17px;
    padding-top: 5px;
}

#overlay p {
    font-family: 'Poppins', sans-serif;
}

.close {
    position: absolute;
    top: 520px;
    right: 50px;
    background: rgba(203, 146, 146, 0.961);
    width: 100px;
    color: white;
    font-weight: 600;
    font-size: 19px;
}

.close:hover {
    background: rgba(173, 123, 123, 0.961);
}

/* roll button */
#startgame {
    position: absolute;
    top: 585px;
    left: 260px;
    background: #e45892;
    width: 290px;
    height: 60px;
    color: white;
    font-weight: 530;
    font-size: 20px;
}

#startgame:hover {
    background: #f684b4;
}

#roll {
    position: absolute;
    top: 585px;
    left: 330px;
    background: #e45892;
    width: 160px;
    height: 60px;
    color: white;
    font-weight: 530;
    font-size: 22px;
}

#roll:hover {
    background: #f684b4;
}

#rollagain {
    position: absolute;
    top: 585px;
    left: 220px;
    background: #e45892;
    width: 160px;
    height: 60px;
    color: white;
    font-weight: 530;
    font-size: 22px;
}

#rollagain:hover {
    background: #f684b4;
}

#pass {
    position: absolute;
    top: 585px;
    left: 440px;
    background: #F5E8E8;
    width: 160px;
    height: 60px;
    color: white;
    font-weight: 530;
    font-size: 22px;
    border: #e45892 solid 2px;
    color: #e45892;
}

#pass:hover {
    background: #fffcfc;
}

/* restart button */
#quit {
    position: absolute;
    top: 570px;
    right: 200px;
    background: rgb(203, 175, 175);
    width: 170px;
    color: white;
    font-weight: 500;
    font-size: large;
    padding: 15px;
}

#quit:hover {
    background: rgb(179, 154, 154);
}

/* images */
#dice {
    position: absolute;
    top: 345px;
    left: 215px;
}

#pink {
    position: absolute;
    top: 360px;
    left: 215px;
    transition: 2s ease;
}

#rolldie1 {
    position: absolute;
    top: 355px;
    left: 245px;
    width: 160px;
    height: 162px;
}

#rolldie2 {
    position: absolute;
    top: 355px;
    left: 430px;
    width: 160px;
    height: 162px;
}

#pig2 {
    position: absolute;
    top: 233px;
    left: 268px;
}

#pig22 {
    position: absolute;
    top: 233px;
    left: 200px;
}

/* alerts */
#gotone {
    box-sizing: border-box;
    border-radius: 10px;
    background: #ecc8c8;
    width: 300px;
    height: 100px;
    position: absolute;
    top: 350px;
    right: 200px;
    box-shadow: -5px 5px 6px #dac6c6;
    text-align: center;
    padding: 27px;
}

#snakeeyes {
    box-sizing: border-box;
    border-radius: 10px;
    background: #b1dea4;
    width: 300px;
    height: 100px;
    position: absolute; 
    top: 350px;
    right: 200px; 
    box-shadow: -5px 5px 6px #99ba90;
    text-align: center;
    padding: 27px;
}

#rollfor {
    position: absolute;
    top: 285px;
    left: 270px;
}

/* score */
#score p {
    position: absolute;
    top: 350px;
    right: 200px;
}

#player1 {
    position: absolute;
    top: 250px;
    right: 260px;
    box-sizing: border-box;
    border-radius: 6px;
    width: 150px;
    height: 40px;
    background: rgb(182, 212, 238);
    text-align: center;
    padding: 10px;
}

#score1 {
    position: absolute;
    top: 250px;
    right: 190px;
    box-sizing: border-box;
    border-radius: 6px;
    width: 70px;
    height: 40px;
    background: #fffcfcc5;
    text-align: center;
    padding: 15px;
}

#player2 {
    position: absolute;
    top: 290px;
    right: 260px;
    box-sizing: border-box;
    border-radius: 6px;
    width: 150px;
    height: 40px;
    background: rgb(238, 182, 216);
    text-align: center;
    padding: 10px;
}

#score2 {
    position: absolute;
    top: 290px;
    right: 190px;
    box-sizing: border-box;
    border-radius: 6px;
    width: 70px;
    height: 40px;
    background: #fffcfcc5;
    text-align: center;
    padding: 10px;
}

#winswith {
    position: absolute;
    left: 265px;
    top: 225px;
}

audio {
    opacity: 0;
    position: absolute;
    top: 600px;
    left: 600px;
}

/* footer */
footer p a {
    color: rgba(132, 79, 79, 0.961);
}

footer {
    text-align: center;
    padding: 15px;
}