body {
    background: #bae0d9;
    font-family: 'Inter', sans-serif;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
    position: absolute;
    top: 3%;
    left: 4%;
}

header p {
    position: absolute;
    top: 11%;
    left: 4%;
}

#container {
    width: 1050px;
    height: 592px;
    position: relative;
    top: 70px;
    left: -10px;
    margin: auto;
}

#container div {
    position: absolute;
    width: 200px;
    height: 200px;
}

#lazysusan {
    display: block;
    position: absolute;
    transition: all 3s ease;
}

#raspberry {
    top: 360px;
    left: 435px;
}

#salmon {
    top: 250px;
    left: 70px;
}

#pineapple {
    top: 30px;
    left: 220px;
}

#dimsum {
    top: 10px;
    left: 620px;
}

#ramen {
    top: 210px;
    left: 780px;
}

.start {
    width: 1050px;
    left: 0;
    top: 0;
}

.raspberry,
.salmon,
.pineapple,
.dimsum,
.ramen {
    width: 2050px;
}

.raspberry {
    top: -430px;
    left: -550px;
}

.salmon {
    top: -250px;
    left: -40px;
}

.pineapple {
    top: -60px;
    left: -260px;
}

.dimsum {
    top: 10px;
    left: -730px;
}

.ramen {
    top: -260px;
    left: -900px;
}

/* overlay */
.hidden {
    visibility: hidden;
    opacity: 0;
}

.showing {
    visibility: visible;
    opacity: 1;
}

img {
    border: 10px rgb(234, 224, 210) ridge;
}

#lazysusan {
    border: none;
}

/* raspberry close */
.close {
    position: absolute;
    border-radius: 10px;
    border: 0px;
    width: 90px;
    height: 40px;
    background: aliceblue;
    color: #849591;
    font-size: large;
    font-weight: 550;
    top: 660px;
    left: 400px;
}

.close:hover{
    background: rgb(216, 224, 231);
}

/* salmon close */
.close2 {
    position: absolute;
    border-radius: 10px;
    border: 0px;
    width: 90px;
    height: 40px;
    background: aliceblue;
    color: #849591;
    font-size: large;
    font-weight: 550;
    top: 660px;
    left: 400px;
}

.close2:hover{
    background: rgb(216, 224, 231);
}

/* pineapple close */
.close3 {
    position: absolute;
    border-radius: 10px;
    border: 0px;
    width: 90px;
    height: 40px;
    background: aliceblue;
    color: #849591;
    font-size: large;
    font-weight: 550;
    top: 660px;
    left: 400px;
}

.close3:hover{
    background: rgb(216, 224, 231);
}

/* dimsum close */
.close4 {
    position: absolute;
    border-radius: 10px;
    border: 0px;
    width: 90px;
    height: 40px;
    background: aliceblue;
    color: #849591;
    font-size: large;
    font-weight: 550;
    top: 660px;
    left: 400px;
}

.close4:hover{
    background: rgb(216, 224, 231);
}

/* ramen close */
.close5 {
    position: absolute;
    border-radius: 10px;
    border: 0px;
    width: 90px;
    height: 40px;
    background: aliceblue;
    color: #849591;
    font-size: large;
    font-weight: 550;
    top: 660px;
    left: 400px;
}

.close5:hover{
    background: rgb(216, 224, 231);
}

/* raspberry overlay */
#raspoverlay {
    position: absolute;
    background-color: rgba(0,0,0,0.5);    
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    transition-property: opacity, visibility;
    transition-duration: 1s;
    transition-timing-function: ease;
}

#raspoverlay article {
    box-sizing: border-box;
    background: #c0d2ce;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    width: 550px;
    height: 750px;
    border-radius: 20px;
    margin: auto;
    text-align: center;
    line-height: 27px;
    font-size: large;
    padding: 40px;
}

/* salmon overlay */
#saloverlay {
    position: absolute;
    background-color: rgba(0,0,0,0.5);    
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    transition-property: opacity, visibility;
    transition-duration: 1s;
    transition-timing-function: ease;
}

#saloverlay article {
    box-sizing: border-box;
    background: #c0d2ce;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    width: 550px;
    height: 750px;
    border-radius: 20px;
    margin: auto;
    text-align: center;
    line-height: 27px;
    font-size: large;
    padding: 40px;
}

/* pineapple overlay */
#pineoverlay {
    position: absolute;
    background-color: rgba(0,0,0,0.5);    
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    transition-property: opacity, visibility;
    transition-duration: 1s;
    transition-timing-function: ease;
}

#pineoverlay article {
    box-sizing: border-box;
    background: #c0d2ce;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    width: 550px;
    height: 750px;
    border-radius: 20px;
    margin: auto;
    text-align: center;
    line-height: 27px;
    font-size: large;
    padding: 40px;
}

/* dimsum overlay */
#dimoverlay {
    position: absolute;
    background-color: rgba(0,0,0,0.5);    
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    transition-property: opacity, visibility;
    transition-duration: 1s;
    transition-timing-function: ease;
}

#dimoverlay article {
    box-sizing: border-box;
    background: #c0d2ce;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    width: 550px;
    height: 750px;
    border-radius: 20px;
    margin: auto;
    text-align: center;
    line-height: 27px;
    font-size: large;
    padding: 40px;
}

/* ramen overlay */
#ramoverlay {
    position: absolute;
    background-color: rgba(0,0,0,0.5);    
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    transition-property: opacity, visibility;
    transition-duration: 1s;
    transition-timing-function: ease;
}

#ramoverlay article {
    box-sizing: border-box;
    background: #c0d2ce;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    width: 550px;
    height: 750px;
    border-radius: 20px;
    margin: auto;
    text-align: center;
    line-height: 27px;
    font-size: large;
    padding: 40px;
}


/* eat me buttons */
#raspbutton a {
    position: absolute;
    top: 440px;
    left: 420px;
    transition-duration: 1s;
    transition-timing-function: ease;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: x-large;
    color: #3a4644;

    background-color: #ecfffb;
    border: 0px solid;
    padding: 10px;
    width: 150px;
    height: 30px;
    text-align: center;
    border-radius: 10px;
}

#salbutton a {
    position: absolute;
    top: 380px;
    left: 200px;
    transition-duration: 1s;
    transition-timing-function: ease;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: x-large;
    color: #3a4644;

    background-color: #ecfffb;
    border: 0px solid;
    padding: 10px;
    width: 150px;
    height: 30px;
    text-align: center;
    border-radius: 10px;
}

#pinebutton a {
    position: absolute;
    top: 150px;
    left: 290px;
    transition-duration: 1s;
    transition-timing-function: ease;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: x-large;
    color: #3a4644;

    background-color: #ecfffb;
    border: 0px solid;
    padding: 10px;
    width: 150px;
    height: 30px;
    text-align: center;
    border-radius: 10px;
}

#dimbutton a {
    position: absolute;
    top: 200px;
    left: 580px;
    transition-duration: 1s;
    transition-timing-function: ease;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: x-large;
    color: #3a4644;

    background-color: #ecfffb;
    border: 0px solid;
    padding: 10px;
    width: 150px;
    height: 30px;
    text-align: center;
    border-radius: 10px;
}

#rambutton a {
    position: absolute;
    top: 310px;
    left: 740px;
    transition-duration: 1s;
    transition-timing-function: ease;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: x-large;
    color: #3a4644;

    background-color: #ecfffb;
    border: 0px solid;
    padding: 10px;
    width: 150px;
    height: 30px;
    text-align: center;
    border-radius: 10px;
}


