/* Body */
body {
    background: #FFB8B8;
}

input[type="text"]:focus {
    border:1px solid #D6D9DC;
    outline: 0;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* Header */
header {
    margin: auto;
    width: 1000px;
    height: 115px;
    background: #FF9D9D;
    border-radius: 10px;
}

header h1 {
    color: white;
    text-align: center;
    margin: auto;
    padding: 35px;
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 35px;
}


/* Articles */
main {
    padding: 20px;
    width: 1200px;
    height: 750px;
    position: relative;
    margin: auto;
    margin-top: -40px;
}

main h3 {
    font-family: 'Poppins', sans-serif;
    padding-left: 35px;
}

main p {
    font-family: 'Monteserrat', sans-serif;
    font-weight: 2px;
}

/* Product Name */
#name {
    background-color: white;
    border: 8px solid white;
    box-shadow: 10px 10px black;
    position: absolute;
    width: 359px;
    height: 122px;
    left: 50px;
    top: 169px;
}

#name1 {
    text-decoration: underline;
    position: absolute;
    width: 260px;
    height: 36px;
    left: 36px;
    top: 60px;
    background: #ddcbcb;
    border: 1px solid #968686;
}

/* Nouns */
#noun {
    background-color: #C31212;
    border: 8px solid #FD4922;
    box-shadow: 10px 10px 5px #631515;
    width: 300px;
    height: 130px;
    position: absolute;
    width: 355px;
    height: 300px;
    left: 58px;
    top: 375px;
}

#noun h3 {
    color: white;
    padding-top: 12px;
    font-size: 22px;
}

#noun1 {
    position: absolute;
    width: 130px;
    height: 38px;
    left: 35px;
    top: 88px;
    background: #FD4922;
    border: 1px solid #74210f;
}

#noun2 {
    position: absolute;
    width: 130px;
    height: 38px;
    left: 187px;
    top: 88px;
    background: #FD4922;
    border: 1px solid #74210f;
}

#noun p {
    color: white;
    position: absolute;
    height: 17px;
    left: 35px;
    top: 152px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 16px;
}

#noun3 {
    position: absolute;
    width: 130px;
    height: 38px;
    left: 35px;
    top: 190px;
    background: #FF7658;
    border: 1px solid #aa391f;
}

/* Verbs */
#verb {
    background-color: #FF8970;    
    border: 8px solid #FFD770; 
    box-shadow: 10px 10px 5px #c33d1f;
    position: absolute;
    width: 272px;
    height: 379px;
    left: 451px;
    top: 176px;
}

#verb h3 {
    color: white;
    padding-top: 12px;
    font-size: 22px;
}

#verb1 {
    position: absolute;
    width: 180px;
    height: 38px;
    left: 40px;
    top: 104px;
    background: #FFD770;
    border: 1px solid #b18c2c;
}

#verb2 {
    position: absolute;
    width: 180px;
    height: 38px;
    left: 40px;
    top: 172px;
    background: #FFD770;
    border: 1px solid #b18c2c;
}

#verb3 {
    position: absolute;
    width: 180px;
    height: 38px;
    left: 40px;
    top: 240px;
    background: #FFD770;
    border: 1px solid #b18c2c;
}

/* Adjectives */
#adjective {
    background-color: #F9451D;
    border: 8px solid #F9451D;
    box-shadow: 10px 10px 5px #722912;
    position: absolute;
    width: 377px;
    height: 472.22px;
    left: 770px;
    top: 148px;
}

#adjective h3 {
    color: white;
    padding-top: 10px;
    font-size: 22px;
}

#adj1 {
    position: absolute;
    width: 144px;
    height: 32px;
    left: 30px;
    top: 101px;
    background: #FFB4A4;
    border: 1px solid #924b3b;
}

#adj2 {
    position: absolute;
    width: 144px;
    height: 32px;
    left: 30px;
    top: 156px;
    background: #FFB4A4;
    border: 1px solid #924b3b;
}

#adj3 {
    position: absolute;
    width: 144px;
    height: 32px;
    left: 30px;
    top: 211px;
    background: #FFB4A4;
    border: 1px solid #924b3b;
}

#adj4 {
    position: absolute;
    width: 144px;
    height: 32px;
    left: 30px;
    top: 264px;  
    background: #FFB4A4;
    border: 1px solid #924b3b;
}

#adj5 {
    position: absolute;
    width: 144px;
    height: 32px;
    left: 30px;
    top: 317px;
    background: #FFB4A4;
    border: 1px solid #924b3b;
}

#adj6 {
    position: absolute;
    width: 144px;
    height: 32px;
    left: 30px;
    top: 370px;
    background: #FFB4A4;
    border: 1px solid #924b3b;
}

#adj7 {
    position: absolute;
    width: 144px;
    height: 32px;
    left: 199px;
    top: 101px;
    background: #FFB4A4;
    border: 1px solid #924b3b;
}

#adj8 {
    position: absolute;
    width: 144px;
    height: 32px;
    left: 199px;
    top: 156px;
    background: #FFB4A4;
    border: 1px solid #924b3b;
}

#adj9 {
    position: absolute;
    width: 144px;
    height: 32px;
    left: 199px;
    top: 211px;
    background: #FFB4A4;
    border: 1px solid #924b3b;
}


/* Done */
#done {
    position: absolute;
    left: 1040px;
    top: 694px;
    padding: 30px;
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    border-radius: 10px;
    border: 0px;
    background-color: #eb7777;
    padding: 15px;
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
    font-weight: 600;
}

#done:hover {
    background-color: #ad5b5b;
}